laboratorios.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="labo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:unsignedByte" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="endereco" type="xs:string" />
        <xs:element name="telefone" type="xs:unsignedInt" />
        <xs:element maxOccurs="unbounded" name="bioquimicos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CRQ" type="xs:unsignedShort" />
              <xs:element name="nome" type="xs:string" />
              <xs:element name="sobrenome" type="xs:string" />
              <xs:element name="salario" type="xs:unsignedShort" />
              <xs:element name="especialidade" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>